#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: #008F8F;
}

.book, .join{
    background-color: #69995D;
    color: #454545;
    text-decoration: none;
    text-align: center;
}

footer a, nav a{
    background-color: #69995D;
    color: #454545;
    text-decoration: none;
}

.book:hover, .join:hover, footer a:hover, nav a:hover {
    background-color: #D5A021;
    color: #454545;
}

footer, nav, header, .msg, #background{
    background-color: #69995D;
}

.home-title, h4, .msg h2, .msg p, footer h3 {
    color: #454545;
    text-align: center;
}

.icon{
    width: 80px;
}