#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
}

body{
    background-color: #008F8F;
}

header{
    background-color: #69995D;
}

nav a:hover{
    background-color: #D5A021;
}

.book, .join{
    background-color: #69995D;
}

.book:hover, .join:hover{
    background-color: #D5A021;
}


#background{
    background-color: #008F8F;
}

.msg{
    background-color: #69995D;
}

footer{
    background-color: #69995D;
}